.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  color: #f5f5f5;
  height: 70px;
  background-color: #000000;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: currentColor;
}

.nasa {
  display: flex;
  align-items: center;
  font-family: "Russo One", sans-serif;
  font-size: 4rem;
}

.fa-user-astronaut {
  padding-right: 20px;
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  width: 250px;
  padding: 7px 10px;
}

.date-picker span {
  padding-right: 10px;
  color: #000000;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 135px;
  }

  .nasa {
    width: 402px;
    margin-top: 20px;
    font-size: 3.1rem;
    display: flex;
    justify-content: center;
  }

  .date-picker {
    margin: 20px 0;
    width: 300px;
  }
}
